.container {
    --icon-size: 32px;
    --letter-size: 18px;
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--letter-size);
    background-color: var(--background-quaternary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;

    img {
        display: block;
        border-radius: 50%;
    }
    span {
        font-size: var(--letter-size);
    }
}