.container {
    margin: 0 auto;
    width: var(--width-main);
    max-width: var(--width-main-max);
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));

    h1 {
        margin: 0;
        margin-bottom: var(--spacing-tertiary);
        padding-top: var(--spacing-secondary);
    }
}
.guild-list {
    --row-amount: 4;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(var(--row-amount), 1fr);
    gap: var(--spacing-quaternary);

    button {
        text-align: unset;
    }
}
.guild-item {
    width: 100%;
    background-color: var(--background-tertiary);
    border: 1px solid var(--background-quaternary);
    border-radius: var(--border-radius-tertiary);
    position: relative;

    span {
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        font-size: 16px;
        font-weight: 600;
    }
    button, a {
        width: 100%;
        margin-top: var(--spacing-quaternary);
        font-size: 11px !important;
        font-weight: 500 !important;

        &:hover {
            transform: translateY(-1px) !important;
        }
    }
}
.guild-item-banner {
    z-index: 0;
    position: absolute;
    pointer-events: none;
    background-color: var(--background-quaternary);
    top: 0;
    width: 100%;
    height: 50px;
    filter: blur(4px);
    opacity: .4;

    img {
        object-fit: cover;
        display: block;
    }
}
.guild-item-text {
    padding: var(--spacing-quaternary);
    position: relative;
    z-index: 1;
}
.guild-item-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--background-tertiary);
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-tertiary);

    img {
        border-radius: inherit;
        margin-bottom: calc(var(--spacing-quinary) / 2);
    }
    span {
        font-size: 25px;
    }
}

.text-placeholder, .button-placeholder {  
    opacity: .4;
    background-color: var(--background-quaternary);
}
.text-placeholder {
    width: 60%;
    height: 20px;
    border-radius: 4px;
}
.button-placeholder {
    height: 39px;
    margin-top: var(--spacing-quaternary);
    border-radius: var(--border-radius-tertiary);
}

@media (max-width: 800px) {
    .guild-list {
        --row-amount: 2;
    }
}
@media (max-width: 500px) {
    .guild-list {
        --row-amount: 1;
    }
}