.text {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-secondary);

    &+span {
        font-size: 12px;
        color: var(--text-secondary);
        margin-bottom: var(--spacing-quinary);
        margin-top: var(--spacing-senary);
        display: block;
    }
    &:not(:has(+span)) {
        margin-bottom: var(--spacing-quinary);
    }
}