.dashboard {
    --navbar-height: 72px;
    --sidebar-width: 275px;
}
.navbar {
    display: flex;
    height: var(--navbar-height);
    background-color: var(--background-secondary);
    padding: var(--spacing-tertiary);
    position: sticky;
    top: 0;
}
.navbar-icon {
    width: 80px;
    position: relative;
    display: block;
}
.main {
    display: flex;
}
.dash-content {
    padding: var(--spacing-tertiary);
    flex: 1;
}
.sidebar {
    border-top: 2px solid var(--background-primary);
    background-color: var(--background-secondary);
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    padding: var(--spacing-tertiary);
    position: sticky;
    top: var(--navbar-height);

    &>* {
        padding: var(--spacing-tertiary) 0;
    }
    &>:first-child {
        padding-top: 0;
    }
}
.tabs {
    display: grid;
    gap: 4px;
}
.tab {
    display: flex;
    gap: var(--spacing-quinary);
    align-items: center;
    font-size: 12px;
    color: var(--text-secondary);
    padding: var(--spacing-quinary);
    border-radius: var(--border-radius-tertiary);
    transition: background-color .3s, color .3s;
    cursor: pointer;

    svg {
        width: 22px;
        aspect-ratio: 1;
        fill: var(--text-secondary);
        transition: fill .3s;
        display: block;
    }

    &:hover {
        background-color: var(--background-tertiary);
        color: var(--text-primary);

        svg {
            fill: var(--text-primary);
        }
    }
    &.active, &:active {
        background-color: var(--background-quaternary);
        color: var(--text-primary);

        svg {
            fill: var(--text-primary);
        }
    }
}

.dropdown {
    border-bottom: 1px solid var(--background-quaternary);
}
.dd-selected {
    background-color: var(--background-tertiary);
    border: 1px solid var(--background-quaternary);
    border-radius: var(--border-radius-tertiary);
    justify-content: space-between;

    .dd-selected-main {
        flex: 1;
        display: flex;
        align-items: center;
        gap: var(--spacing-quinary);
    }
    svg {
        width: 11px;
        fill: var(--text-primary);
        transition: transform .15s;
        display: block;
    }

    &.open {
        svg {
            transform: rotate(180deg);
        }
    }
}
.dd-items {
    background-color: var(--background-tertiary);
    border: 1px solid var(--background-quaternary);
    border-radius: var(--border-radius-tertiary);
    overflow: auto;
    max-height: 250px;
    margin-top: var(--spacing-quinary);

    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-thumb {
        border: 5px solid var(--background-tertiary);
        background-color: var(--background-primary);
        border-radius: 120px;
    }
}
.dd-item {
    width: 100%;
    cursor: pointer;
    padding: var(--spacing-quinary);
    display: flex;
    align-items: center;
    gap: var(--spacing-quinary);
    transition: background-color .2s;

    span {
        font-size: 13px;
    }

    &:hover {
        background-color: var(--background-quaternary);
    }
}
.dd-icon {
    --icon-size: 28px !important;
    --letter-size: 14px !important;
}
.dd-item-skeleton:hover {
    background-color: var(--background-tertiary) !important;
    cursor: default;
}
.dd-icon-skeleton {
    @extend .dd-icon;
    border-radius: 50%;
    min-width: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--background-quaternary);
}
.dd-text-skeleton {
    height: 16px;
    width: 45%;
    background-color: var(--background-quaternary);
    border-radius: 4px;
}