// Define vars we'll be using
$brand-success: #5cb85c;
$loader-size: 50px;
$check-height: $loader-size/2.5;
$check-width: $check-height/2.5;
$check-left: ($loader-size/6 + $loader-size/12);
$check-top: $loader-size/8;
$check-thickness: 2px;
$check-color: $brand-success;
$error-height: 25px;
$error-width: 2px;

.circle-loader {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: $check-color;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
}

.load-complete, .load-errored {
    -webkit-animation: none;
    animation: none;
    border-color: $check-color;
    transition: border 500ms ease-out;
}
.load-complete {
    .checkmark {
        display: block !important;
    }
}
.load-errored {
    .error {
        display: block !important;
    }
}

.checkmark {
    display: none;
    
    &.draw:after {
        animation-duration: 800ms;
        animation-timing-function: ease;
        animation-name: checkmark;
        transform: scaleX(-1) rotate(135deg);
    }
    
    &:after {
        opacity: 1;
        height: $check-height;
        width: $check-width;
        transform-origin: left top;
        border-right: $check-thickness solid $check-color;
        border-top: $check-thickness solid $check-color;
        content: '';
        left: $check-left;
        top: calc($check-height + $check-top);
        position: absolute;
    }
}

.error {
    display: none;

    &::after, &:before {
        content: '';
        opacity: 1;
        display: block;
        height: $error-height;
        width: $error-width;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: error-line .6s;
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
@keyframes error-line {
    from {
        height: 0;
    }
    to {
        height: $error-height;
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }
    40% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
    100% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
}