.presets {
    --row-count: 3;
    display: grid;
    gap: var(--spacing-quinary);
    grid-template-columns: repeat(var(--row-count), 1fr);
}
.preset-item {
    display: flex;
    align-items: centere;
    justify-content: space-between;
    padding: var(--spacing-quaternary);
    background-color: var(--background-tertiary);
    border: 1px solid var(--background-quaternary);
    border-radius: var(--border-radius-tertiary);
}
.preset-text {
    display: grid;
    gap: var(--spacing-senary);
    
    p {
        margin: 0;
    }
    span {
        font-size: 12px;
        color: var(--text-secondary);
    }
}
.preset-item-skeleton {
    height: 72.5px;
    align-items: center;

    .skeleton-text {
        width: 40%;
        height: 22px;
        border-radius: 4px;
        background-color: var(--background-quaternary);
    }
    .skeleton-button {
        height: 41px;
        width: 80px;
        background-color: var(--background-quaternary);
        border-radius: var(--border-radius-tertiary);
    }
}
.link-container {
    margin-top: var(--spacing-senary);
    padding: var(--spacing-quaternary);
    background-color: var(--background-tertiary);
    border: 1px solid var(--background-quaternary);

    span {
        font-size: 12px;
        color: var(--text-secondary);
    }
}