.header-container {
    width: var(--width-main);
    max-width: var(--width-main-max);
    margin: 0 auto;
    padding: 160px 0;
}
.header, .sub-header {
    width: 70%;
    margin: 0;
}
.header {
    font-size: 50px;
}
.sub-header {
    margin: var(--spacing-secondary) 0 var(--spacing-primary);
    color: var(--text-secondary);
    font-size: 20px;
}
.header-highlight {
    position: relative;
    cursor: default;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 4px;
        background-color: var(--color-primary);
        animation: line-in 1.7s forwards ease-in-out;
        animation-delay: .6s;
    }
}
@keyframes line-in {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

.header-buttons {
    display: flex;
    gap: var(--spacing-tertiary);
    margin-top: var(--spacing-secondary);
}
.header-button {
    min-width: 145px;
}

.quick-actions {
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    background-color: var(--background-secondary);

    >*:not(.back-text) {
        z-index: 1;
        position: relative;
    }
}
.back-text {
    --top: 41px;
    z-index: 0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: var(--top);
    font-size: 200px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: var(--background-secondary);
    text-shadow: -3px 0 var(--background-tertiary), 0 3px var(--background-tertiary), 3px 0 var(--background-tertiary), 0 -3px var(--background-tertiary);
    letter-spacing: 5px;
    pointer-events: none;
    white-space: nowrap;
}
.qa-actions {
    max-width: var(--width-main-max);
    width: var(--width-main);
    margin: 0 auto;
}
.qa-container {
    --height: 450px;
    height: var(--height);
    width: var(--width-main);
    max-width: var(--width-main-max);
    margin: 0 auto;
    display: flex;
    gap: var(--spacing-primary);
    transition: filter .7s, transform .7s, opacity .7s;
    animation: qa-in .7s forwards;
    overflow: hidden;

    h2, p {
        margin: 0;
        opacity: 0;
        animation: text-in .6s forwards;
    }
    h2 {
        font-size: 40px;
        color: var(--color-primary);
        animation-delay: .4s;
    }
    p {
        font-size: 18px;
        margin-top: var(--spacing-quaternary);
        color: var(--text-secondary);
        animation-delay: .7s;
    }
    .qa-img {
        animation: text-in .6s forwards;
        animation-delay: 1s;
        opacity: 0;
        flex: 1;
    }
    svg {
        margin: 0 auto;
        max-height: 275px;
    }

    &.animate-out {
        transform: translateY(70px);
        filter: blur(7px);
        opacity: 0;
    }
    &.expired {
        animation: qa-out .7s forwards;
    }
}
@keyframes qa-in {
    from {
        height: 0;
        padding: 0;
    }
    to {
        height: var(--height);
        padding: calc(var(--spacing-primary) * 1.5) 0 0;
    }
}
@keyframes qa-out {
    from {
        height: var(--height);
        padding: calc(var(--spacing-primary) * 1.5) 0 0;;
    }
    to {
        height: 0;
        padding: 0;
    }
}
@keyframes text-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.qa-text {
    width: 50%;
}
.qa-buttons {
    display: flex;
    gap: var(--spacing-quaternary);
    padding-top: var(--spacing-primary);
}
.qa-button {
    opacity: 0;
    animation: text-in .7s forwards;
    transition: transform .3s;

    &:nth-of-type(1) {
        animation-delay: .8s;
    }
    &:nth-of-type(2) {
        animation-delay: .9s;
    }

    button, a {
        &:hover {
            transform: translateY(-4px) !important;
        }
    }
}

.tiles {
    margin: 0 auto;
    padding: 100px 0;
    width: var(--width-main);
    max-width: var(--width-main-max);
    display: grid;
    gap: 160px;
}
.tile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-secondary);
    transition: opacity .5s, transform .5s;

    &.reversed {
        img {
            order: 0;
        }
        .tile-text {
            order: 1;
        }
    }

    &.hidden {
        transform: translateY(40px);
        opacity: 0;
    }

    img {
        width: 550px;
        max-width: 100%;
    }
}
.tile-text {
    width: 40%;

    h2 {
        font-size: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-quinary);
    }
    p {
        color: var(--text-secondary);
        font-size: 22px;
    }
}

.customize {
    --wave-height: 150px;
    position: relative;
    background-color: var(--background-secondary);
    margin: var(--wave-height) 0;
    padding: var(--spacing-primary) 0;

    &>svg {
        fill: var(--background-secondary);
        position: absolute;

        &:first-child {
            bottom: 100%;
        }
        &:not(:first-child) {
            top: 100%;
            transform: rotate(180deg);
        }
    }
}
.customize-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: var(--width-main-max);
    margin: 0 auto;

    h2 {
        font-size: 44px;
        font-weight: 400;
        margin: 0;
    }
    p {
        font-size: 14px;
        color: var(--text-secondary);
        width: 700px;
        max-width: 100%;
        margin: 0;
        margin-top: var(--spacing-tertiary);
    }
}
.customize-buttons {
    display: flex;
    gap: var(--spacing-quaternary);
    margin-top: var(--spacing-secondary);

    &>button, &>a {
        min-width: 150px;
        padding: var(--spacing-quaternary);
    }
}

@media (max-width: 1050px) {
    .qa-container {
        img {
            max-height: 200px;
        }
    }
}
@media (max-width: 950px) {
    .tile-text {
        width: 70%;
    }
    .tile img {
        width: 400px;
    }
    .tile-text {
        h2 {
            font-size: 35px;
        }
        p {
            font-size: 18px;
        }
    }
}
@media (max-width: 800px) {
    .qa-actions {
        --row-amount: 2 !important;
    }
    .qa-container {
        --height: 700px;
        flex-direction: column;

        img {
            max-height: unset !important;
            margin: 0;
            width: 100%;
        }
    }
    .qa-text {
        width: 100%;
    }
    .qa-buttons {
        padding-top: var(--spacing-secondary);
    }
    .back-text {
        white-space: normal;
    }
}
@media (max-width: 750px) {
    .header-container {
        padding: 80px 0 100px;
    }
    .header, .sub-header {
        width: 100%;
    }
    .tile img {
        width: 260px;
    }
    .tile-text {
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 16px;
        }
    }
}
@media (max-width: 500px) {
    .header {
        font-size: 35px;
    }
    .header-buttons {
        flex-direction: column;
        gap: var(--spacing-quinary);
    }
    .action-list {
        --row-amount: 3;
    }
    .action-item {
        aspect-ratio: 1;
        padding: 0 !important;
        
        span {
            display: none;
        }
        svg {
            width: 40px;
            transform: translateY(0) !important;
        }
    }
    .qa-buttons {
        flex-direction: column;
        gap: var(--spacing-quinary);

        button {
            width: 100%;
        }
    }
    .tiles {
        gap: 80px;
    }
    .tile {
        flex-direction: column;

        img {
            width: 100%;
        }
    }
    .tile-text {
        width: 100%;
        order: 0 !important;

        h2 {
            font-size: 40px;
        }
        p {
            font-size: 20px;
        }
    }
    .customize {
        padding: var(--spacing-primary) 0;
        margin: 0;
        margin-bottom: var(--spacing-secondary);

        h2 {
            font-size: 36px;
        }
    }
    .customize-buttons {
        flex-direction: column;
        width: 100%;
        gap: var(--spacing-quinary);
    }
}