.expanded {
    .selected {
        svg {
            transform: rotate(180deg);
        }
    }
}
.selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--spacing-senary) * 1.5);
    background-color: var(--background-tertiary);
    border: 1px solid var(--background-quaternary);
    border-radius: var(--border-radius-tertiary);
    cursor: pointer;
    width: 100%;
    margin: 0;

    span {
        padding: calc(var(--spacing-senary) * 1.5);
        display: block;
    }
    button {
        background-color: var(--background-quaternary);
        padding: calc(var(--spacing-senary) * 1.5);
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: var(--spacing-quinary);
        cursor: pointer;

        svg {
            width: 8px;
            fill: var(--text-secondary);
            transition: fill .3s;
        }
    }
    &>svg {
        width: 10px;
        display: block;
        fill: var(--text-secondary);
        transition: transform .3s;
    }

    &:hover {
        button svg {
            fill: var(--text-primary);
        }
    }

    .loading {
        height: 31px;
        width: 120px;
        border-radius: 4px;
        background-color: var(--background-quaternary);
    }
}
.items {
    padding: var(--spacing-quinary);
    background: var(--background-tertiary);
    border: 1px solid var(--background-quaternary);
    border-radius: var(--border-radius-tertiary);
    margin-top: var(--spacing-senary);
    max-height: 210px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-thumb {
        border: 5px solid var(--background-tertiary);
        background-color: var(--background-primary);
        border-radius: 120px;
    }

    button {
        width: 100%;
        padding: var(--spacing-quinary);
        border-radius: var(--border-radius-tertiary);
        transition: background-color .2s;
        cursor: pointer;

        &:hover {
            background-color: var(--background-quaternary);
        }
    }
}