:root {
  --background-primary: #0e1015;
  --background-secondary: #101318;
  --background-tertiary: #13151b;
  --background-quaternary: #272a30;
  --text-primary: #e2e4e9;
  --text-secondary: #999ca3;
  --color-primary: #5943ff;
  --color-secondary: #4837c8;

  --navbar-height: 104px;
  --footer-height: 92px;

  --width-main: 1100px;
  --width-main-max: 90%;

  --spacing-primary: 50px;
  --spacing-secondary: 30px;
  --spacing-tertiary: 20px;
  --spacing-quaternary: 15px;
  --spacing-quinary: 10px;
  --spacing-senary: 5px;

  --border-radius-primary: 12px;
  --border-radius-secondary: 10px;
  --border-radius-tertiary: 8px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  display: block;
  padding: 0;
  text-align: unset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.highlight {
  color: var(--color-primary);
}
.underline {
  text-decoration: underline;
}